This is the first example

In [ ]:
for i in range(10):
    print i