# Example of applied regression

In [13]:
import numpy as np 
import pandas as pd 
import pylab as plt # Matplotlib is a python 2D plotting library
%matplotlib inline 
from sklearn import linear_model # Scikit learn library that implements generalized linear models

master_data = pd.read_csv("data/kc_house_data.csv", parse_dates = ['date'])

In [14]:
master_data.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,2014-10-13,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,2014-12-09,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,2015-02-25,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,2014-12-09,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,2015-02-18,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [15]:
data = master_data[['grade','floors','bathrooms', 'bedrooms']]

In [16]:
data.head()

   grade  floors  bathrooms  bedrooms
0      7     1.0       1.00         3
1      7     2.0       2.25         3
2      6     1.0       1.00         2
3      7     1.0       3.00         4
4      8     1.0       2.00         3

In [17]:
x = data.values
print x

[[ 7.    1.    1.    3.  ]
 [ 7.    2.    2.25  3.  ]
 [ 6.    1.    1.    2.  ]
 ...,
 [ 7.    2.    0.75  2.  ]
 [ 8.    2.    2.5   3.  ]
 [ 7.    2.    0.75  2.  ]]

In [20]:
y = master_data[['price']].values
print y

[[ 221900.]
 [ 538000.]
 [ 180000.]
 ...,
 [ 402101.]
 [ 400000.]
 [ 325000.]]